@page
@model RazorPages.Pages.ManagerPage.ManageCar.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "/Pages/Shared/_LayoutManagerPage.cshtml";
}

<h1>Cars management</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form method="get">
    <div>
        <label for="searchTerm">Search Car:</label>
        <input type="text" id="searchTerm" name="SearchTerm" placeholder="Enter car name or category ID" value="@Model.SearchTerm">
        <button type="submit">Search</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Car) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CarId">Edit</a> |
                    <!--<a asp-page="./Details" asp-route-id="@item.CarId">Details</a> |-->
                <a asp-page="./Delete" asp-route-id="@item.CarId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
