@page
@model RazorPages.Pages.AdminPage.ManageOrder.ShopViewModel

@{
    Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "ShopView";
}

<h1>Car List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Car) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
                <td>
                    <a asp-page="./Cart" asp-page-handler="buynow" asp-route-id="@item.CarId">Add</a>
                </td>
        </tr>
}
    </tbody>
</table>
