@page
@model RazorPages.Pages.AdminPage.ManageCar.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form method="post" asp-page="index" asp-page-handler="search">
    <div class="form-group">
        <label for="searchString">Search:</label>
        <input asp-for="SearchValue" class="form-control" />
    </div>
    <button type="submit" value="Search" class="btn btn-primary" style="margin: 0 auto">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Car) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CarId">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.CarId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
